.login-bg-wrapper,
.register-bg-wrapper {
  background-image: url('/images/loginbg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
}

.login-bg-wrapper::before,
.register-bg-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

/* Login Container */
.login-container {
  background-color: rgba(42, 66, 41, 0.05);
  padding: 2rem 2.5rem;
  border-radius: 1.25rem;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  width: 100%;
  max-width: 420px;
  z-index: 1;
  position: relative;
  color: #fff;
}

.login-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-header h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.login-header p {
  font-size: 0.95rem;
  color: #ccc;
}

/* Form Elements */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form-group input{
  background: transparent !important;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  width: 100%;
}

.role-select{
  background: transparent !important;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  width: 100%;
}

.input-with-icon {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: transparent;
}

.input-icon {
  margin-right: 0.5rem;
  font-size: 1.1rem;
}

/* Button */
.login-button {
  background-color: #185b1cac;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 0.5rem;
}

.login-button:hover {
  background-color: #2bce33a3;
}

.login-footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #ccc;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.createacc {
  color: #1c7e21;
  font-weight: 500;
  text-decoration: none;
}

.forgot-pass {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 0.85rem;
  color: #aaa;
  margin-top: 0.25rem;
  cursor: pointer;
}
